.container{
	width: 100%;
	height: auto;
}.menu{
	background-color: rgb(255, 102, 0);
	width: 100%;
	height: 170px;
	font-size: 50 px;
}.up{
    width: 100%;
   
}
#chude {
	font-size: 70px;
	font-style: oblique;
}

.up ul li{
	display: inline-table;
}
.up ul li a{
	text-decoration: none;
	font-size: 20px;
	vertical-align: middle;
}	
.logo a img{
	margin-left: 130px;
	padding-top: 5px;
	list-style: none;
}
.timkiem{
	list-style: none;
	float:right;
	margin-right:70px ;
	margin-bottom: 40px;
 
}
.timkiem input{
	width: 300px;
	height: 50px;

}
.timkiem button{
	width: 40px;
	height: 40px;
	
}
#xam{
	font-size: 40px;
}
.content ul li{
    list-style: none;
    font-size: 40px;
}